*.bin.gz
*.cache
*.pyc
.DS_Store
.SublimeREPLHistory
CalendarEvents/
ColorSchemeEditorTemp
FileHistory.sublime-settings
Gist.sublime-settings
GitHub.sublime-settings
MardownPreview.sublime-settings
GoSublime-aux.*
GoSublime/*
Package Control.last-run
Package Control.system-ca-bundle
RubyTest.last-run
subclrschm
subclrschm.log