*.cache
*.bin.gz
*.pyc
.DS_Store
GitHub.sublime-settings
Gist.sublime-settings
RubyTest.last-run
Package Control.last-run
Package Control.system-ca-bundle
FileHistory.sublime-settings
GoSublime/*
GoSublime-aux.*