*.bin.gz
*.cache
*.pyc
*.sublime-theme
.DS_Store
.SublimeREPLHistory
CalendarEvents/
Color Highlighter
ColorSchemeEditorTemp
EasyDiff
FileHistory.sublime-settings
Gist.sublime-settings
GitHub.sublime-settings
SQLExec.sublime-settings
GoSublime-aux.*
GoSublime/*
Package Control.last-run
Package Control.system-ca-bundle
RubyTest.last-run
Side Bar Folders.sublime-settings
Side Bar Folders/
subclrschm
subclrschm.log
